*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  color: #eee;
  text-align: center;
  margin: 60px 0 30px 0;
}

li {
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #34495e;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.container {
  background: #2c3e50;
  overflow: hidden;
  width: 360px;
  margin: 10% auto;
  color: #FFF;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.container .title {
  background: #3498db;
}

.container h1 {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 15px;
  text-transform: uppercase;
}

.add {
  float: right;
  border-radius: 3px;
  margin-right: 20px;
  margin-top: 5px;
  padding: 8px 10px;
  background: #2980b9;
}

.add:hover {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.row {
  color: #333;
  background: #FFF;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  line-height: 2.8;
}

.row:hover a {
  width: 40px;
  opacity: 1;
}

.row:nth-child(2n) {
  background: #f7f7f7;
}

.row:hover {
  background: #eee;
}

.remove, .completed {
  float: right;
  text-align: center;
  height: 40px;
  width: 0;
  background: #2ecc71;
  color: #FFF;
  opacity: 0;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.remove:hover, .completed:hover {
  background: #27ae60;
}

.remove {
  background: #e74c3c;
}

.remove:hover {
  background: #c0392b;
}

.done {
  text-decoration: line-through;
  color: #ccc;
}

.add-new {
  float: right;
  height: 40px;
  width: 40px;
  text-align: center;
  background: #2ecc71;
  color: #FFF;
  line-height: 2.8;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.add-new:hover {
  background: #27ae60;
}

.new-task {
  /* display: none; */
}

.new-task input {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  background: #ecf0f1;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  width: 320px;
  padding: 5px 10px;
  height: 40px;
  border: none;
  outline: none;
}

.ui-sortable-helper {
  -webkit-box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
}
